<section class="contact-us__container fluid-container mt-5 pt-2">
  <div class="contact-us__header mt-2 mb-5 text-center">
    Contact Us
   </div>
  <div class="container pb-2">
      <section class="row contact-info mb-1 text-center">
        <div class="col-md-4">
          <div class="contact-address"><fa-icon [icon]="faMapMarker"></fa-icon>
            <h3>Address</h3>
            <address>
            A108 Adam Street, NY 535022, USA
            </address>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-phone"><fa-icon [icon]="faPhone"></fa-icon>
            <h3>Phone Number</h3>
            <p><a href="https://www.free-css.com/free-css-templates">+1 5589 55488 55</a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-email"> <fa-icon [icon]="faEnvelope"></fa-icon>
            <h3>Email</h3>
            <p><a href="https://www.free-css.com/free-css-templates">info@example.com</a></p>
          </div>
        </div>
      </section>
  </div>
</section>

