.contact-us__header{
  font-family: 'Fredericka the Great', cursive;
  font-size: 34px;
}


.contact-us__container{
  background: rgb(219, 215, 215);
}

.contact-info > div > div {
  padding: 20px 0px;
}

.contact-info i{
  font-size: 48px;
    display: inline-block;
    margin-bottom: 10px;
    color: rgb(24, 210, 110);
}

.contact-info .contact-phone{
  border-left: 1px solid #f3f3f3;
  border-right: 1px solid #f3f3f3;
}

